@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

@media (max-width: 768px) {
  .p-toast.p-toast-bottom-right {
    right: 0 !important;
    width: 100%;
    padding: 0 1rem;
  }
}